@import 'tailwindcss';

:root {
  --background: var(--color-white);
  --foreground: var(--color-neutral-800);
}

@theme inline {
  --font-sans: var(--font-pretendard);
  --font-mono: var(--font-cascadia-mono);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}
