@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
  --background: var(--color-white);
  --foreground: var(--color-neutral-800);
  --foreground-secondary: var(--color-neutral-700);
  --foreground-tertiary: var(--color-neutral-600);
  --foreground-quaternary: var(--color-neutral-500);
  --foreground-quinary: var(--color-neutral-400);

  --primary: var(--color-rose-400);
  --primary-foreground: var(--color-white);
  --secondary: var(--color-rose-100);
  --secondary-foreground: var(--color-rose-400);
  --accent: var(--color-neutral-200);
  --accent-foreground: var(--color-neutral-800);
  --muted: var(--color-neutral-100);
  --muted-foreground: var(--color-neutral-700);
  --destructive: var(--color-red-500);

  --icon: var(--color-neutral-500);
  --ring: var(--color-neutral-200);
  --border: var(--color-neutral-300);
  --border-secondary: var(--color-neutral-200);

  --input: var(--color-neutral-100);
  --card: var(--color-neutral-100);
  --card-foreground: var(--color-neutral-800);
  --popover: var(--color-white);
  --popover-foreground: var(--color-neutral-800);
}

.dark {
  --background: var(--color-neutral-900);
  --foreground: var(--color-neutral-100);
  --foreground-secondary: var(--color-neutral-200);
  --foreground-tertiary: var(--color-neutral-300);
  --foreground-quaternary: var(--color-neutral-400);
  --foreground-quinary: var(--color-neutral-500);

  --accent: var(--color-neutral-700);
  --accent-foreground: var(--color-neutral-50);
  --muted: var(--color-neutral-800);
  --muted-foreground: var(--color-neutral-100);
  --destructive: var(--color-red-400);

  --icon: var(--color-neutral-400);
  --ring: var(--color-neutral-500);
  --border: var(--color-neutral-700);
  --border-secondary: var(--color-neutral-800);

  --input: var(--color-neutral-800);
  --card: var(--color-neutral-800);
  --card-foreground: var(--color-neutral-100);
  --popover: var(--color-neutral-900);
  --popover-foreground: var(--color-neutral-100);
}

/* Tailwind CSS 테마 변수 */
@theme inline {
  --font-sans: var(--font-pretendard);
  --font-mono: var(--font-cascadia-mono);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-foreground-secondary: var(--foreground-secondary);
  --color-foreground-tertiary: var(--foreground-tertiary);
  --color-foreground-quaternary: var(--foreground-quaternary);
  --color-foreground-quinary: var(--foreground-quinary);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-destructive: var(--destructive);

  --color-icon: var(--icon);
  --color-ring: var(--ring);
  --color-border: var(--border);
  --color-border-secondary: var(--border-secondary);

  --color-input: var(--input);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  button:not(:disabled),
  [role='button']:not(:disabled) {
    @apply cursor-pointer;
  }
}
