@import 'tailwindcss';

:root {
  --background: var(--color-white);
  --foreground: var(--color-neutral-800);
  --foreground-secondary: var(--color-neutral-700);
  --foreground-tertiary: var(--color-neutral-600);
  --foreground-quaternary: var(--color-neutral-500);
  --foreground-quinary: var(--color-neutral-400);
  --foreground-heading: var(--color-neutral-800);
  --foreground-label: var(--color-neutral-600);
  --foreground-description: var(--color-neutral-400);

  --primary: var(--color-rose-400);
  --primary-foreground: var(--color-white);

  --icon: var(--color-neutral-500);
  --border: var(--color-neutral-300);
  --border-secondary: var(--color-neutral-200);
}

@theme inline {
  --font-sans: var(--font-pretendard);
  --font-mono: var(--font-cascadia-mono);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-foreground-secondary: var(--foreground-secondary);
  --color-foreground-tertiary: var(--foreground-tertiary);
  --color-foreground-quaternary: var(--foreground-quaternary);
  --color-foreground-quinary: var(--foreground-quinary);
  --color-foreground-heading: var(--foreground-heading);
  --color-foreground-label: var(--foreground-label);
  --color-foreground-description: var(--foreground-description);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-icon: var(--icon);
  --color-border: var(--border);
  --color-border-secondary: var(--border-secondary);
}
